<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- quizData.title -%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header.ejs') %>
  <% console.log(quizData, questionData, name);%>

  <article class="quiz-proper">
    <h2><%- quizData.title -%></h2>
    <h4>by <%- quizData.author -%></h4>
    <form action="/api/attempts" method="POST">
      <% for (let i = 0; i < questionData.length; i++) { %>
      <div class="question">
        <p class="query"><%- questionData[i].query -%></p>
        <input class="form-check-input" type="radio" name="q<%- i + 1 -%>" id="q<%- i + 1 -%>a1" value="<%= questionData[i].ans1 %>">
        <label class="form-check-label" for="q<%- i + 1 -%>a1">
          <%- questionData[i].ans1 -%>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="q<%- i + 1 -%>" id="q<%- i + 1 -%>a2" value="<%= questionData[i].ans2 %>">
        <label class="form-check-label" for="q<%- i + 1 -%>a2">
          <%- questionData[i].ans2 -%>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="q<%- i + 1 -%>" id="q<%- i + 1 -%>a3" value="<%= questionData[i].ans3 %>">
        <label class="form-check-label" for="q<%- i + 1 -%>a3">
          <%- questionData[i].ans3 -%>
        </label>
        <br>
        <input class="form-check-input" type="radio" name="q<%- i + 1 -%>" id="q<%- i + 1 -%>a4" value="<%= questionData[i].ans4 %>">
        <label class="form-check-label" for="q<%- i + 1 -%>a4">
          <%- questionData[i].ans4 -%>
        </label>
      </div>
      <% } %>

      <div class="button-container">
        <button type="submit" class="btn btn-primary">Submit attempt</button>
      </div>
    </form>
  </article>

</body>
</html>
